$color-bg-card: rgba(21, 21, 21, 0.8);;
$color-text-main: #F5F5F5;
$color-text-secondary: #C7C7C7;

$color-accent-gold: #F2C94C;
$color-danger: #E65B5B;

$color-border: rgba(255, 255, 255, 0.15);

$radius-lg: 16px;
$radius-md: 10px;
$radius-sm: 6px;

$shadow-card: 0 6px 18px rgba(0, 0, 0, 0.35);